body{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: white;
    background-color: rgb(15, 15, 15);
    background-image: linear-gradient(to bottom right, black, rgb(4, 0, 36));
    background-size: 5 00%;
    @keyframes animate {
        0% {
            background-position: right;
        }
        100%{
            background-position: left;
        }
      }
    animation: animate 10s infinite alternate;
    margin: 1;
    h1{
        text-align: center;
    }
    .pic{
        width: 20em;
        max-width: 100%;
        height: auto;
        position: relative;
        left: calc(50% - 10em);
        border-radius: 1.5em;
        padding: 1em;
    }
    .popis{
        width: 100%;
        position: relative;
        a{
            color: white;
        }
    }
}